version: "3.8"

services:

  # db:
  #   container_name: postgresql_db
  #   image: postgres:13.4-alpine
  #   restart: always
  #   ports:
  #     - 5432:5432
  #   env_file:
  #     - .env
  #   volumes:
  #     - /var/lib/postgresql/data


  # pgadmin:
  #   container_name: pgadmin
  #   image: dpage/pgadmin4
  #   env_file:
  #     - .env
  #   ports:
  #     - 5050:80
  #   depends_on:
  #     - db

  backend:
    container_name: app_backend
    build: . #build the image from the current directory
    volumes: 
      - .:/resto-backend
    # ports:
    #   - 8000:8000
    # command: bash -c "uvicorn src.main:app --host 0.0.0.0 --port $PORT --reload"
    # depends_on:
    #   - db
    restart: always
